@font-face {
  font-family: "iconfont"; /* Project id 3447086 */
  src: url('iconfont.woff2?t=1682243724513') format('woff2'),
       url('iconfont.woff?t=1682243724513') format('woff'),
       url('iconfont.ttf?t=1682243724513') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-chengyuanguanli:before {
  content: "\e655";
}

.icon-pizhongguanli:before {
  content: "\e64f";
}

.icon-fudongzhongliang:before {
  content: "\e650";
}

.icon-zuzhi:before {
  content: "\e651";
}

.icon-caipinguanli:before {
  content: "\e652";
}

.icon-cangkuguanli:before {
  content: "\e653";
}

.icon-rukuliebiao:before {
  content: "\e654";
}

.icon-pizhongliebiao:before {
  content: "\e656";
}

.icon-qiehuan:before {
  content: "\e64e";
}

.icon-nongzi:before {
  content: "\e64d";
}

.icon-sheng:before {
  content: "\e64b";
}

.icon-jiang:before {
  content: "\e64c";
}

.icon-cebianzhankai:before {
  content: "\e646";
}

.icon-cebianshouqi:before {
  content: "\e647";
}

.icon-quanjusuoxiao_off-screen:before {
  content: "\e648";
}

.icon-quanjufangda:before {
  content: "\e649";
}

.icon-jidiweizhi:before {
  content: "\e64a";
}

.icon-daishenpi:before {
  content: "\e643";
}

.icon-tongguo:before {
  content: "\e644";
}

.icon-weitongguo:before {
  content: "\e645";
}

.icon-xiangxiatongyong1:before {
  content: "\e63a";
}

.icon-nongshi:before {
  content: "\e63e";
}

.icon-xiangshangtongyong1:before {
  content: "\e63f";
}

.icon-tishi1:before {
  content: "\e640";
}

.icon-sousuotongyong1:before {
  content: "\e641";
}

.icon-rilitongyong:before {
  content: "\e642";
}

.icon-huidaozhongxin:before {
  content: "\e636";
}

.icon-fangfafankui:before {
  content: "\e637";
}

.icon-fangda:before {
  content: "\e639";
}

.icon-huidaozhongxinfankui:before {
  content: "\e63b";
}

.icon-suoxiao1:before {
  content: "\e63c";
}

.icon-suoxiaofankui:before {
  content: "\e63d";
}

.icon-bianzu:before {
  content: "\e635";
}

.icon-sousuo_search-2:before {
  content: "\e634";
}

.icon-yulan-dakai:before {
  content: "\e630";
}

.icon-yulan-guanbi:before {
  content: "\e631";
}

.icon-mima:before {
  content: "\e632";
}

.icon-yonghu:before {
  content: "\e633";
}

.icon-bianji:before {
  content: "\e62d";
}

.icon-shanchu:before {
  content: "\e62e";
}

.icon-tianjia:before {
  content: "\e62f";
}

.icon-shuaxin:before {
  content: "\e62c";
}

.icon-duizhangguanli:before {
  content: "\e620";
}

.icon-xiaoshouguanli:before {
  content: "\e621";
}

.icon-nongziguanli:before {
  content: "\e626";
}

.icon-caigouguanli:before {
  content: "\e627";
}

.icon-bozhongcaishou:before {
  content: "\e61f";
}

.icon-gerenzhongxin1:before {
  content: "\e622";
}

.icon-tianjiangongzuo1:before {
  content: "\e623";
}

.icon-xitongguanli1:before {
  content: "\e624";
}

.icon-wuhouqiguanli1:before {
  content: "\e625";
}

.icon-a-zu14-2:before {
  content: "\e61e";
}

